<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-around">
    <a class="navbar-brand" href="#">
      <img src="app/assets/images/logo_frite.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
      <div class="d-inline-flex p-2 bd-highlight">
        <a class="navbar-all" href="#">
          <h5>All 'baraques à frites'  <span> | </span></h5>
        </a>
        <a class="navbar-add" href="#">
          <h5>  Add a 'baraque à frites'</h5>
        </a>
      </div>

    <h5><%= link_to "Log in", new_user_session_path, class: "nav-link" %></h5>
  </div>
</nav>
