

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.stockvault.net/data/2018/07/14/253101/preview16.jpg);">
  <div class="container">
    <h1>Your <strong>French Fries</strong> Stall!</h1>
    <p> In a few clicks.</p>
    <a class="btn btn-outline-success" href="#">Choose yours!</a>
  </div>
</div>
<br>
<br>
