<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.stockvault.net/data/2018/07/14/253101/preview16.jpg);">
  <div class="container">
    <h1>Your <strong>French Fries</strong> Stall!</h1>
    <p> In a few clicks.</p>
    <a class="btn btn-outline-success" href="#">Choose yours!</a>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button">Calendar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-secondary" type="button">Localisation</button>
  </div>
  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.stockvault.net/data/2008/07/03/105783/preview16.jpg)">
    Lille
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.stockvault.net/data/2008/07/03/105786/preview16.jpg)">
    Arras
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.stockvault.net/data/2013/07/14/146569/preview16.jpg)">
    Valenciennes
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
