<div class="background-form edit-form">
  <div class="container form-glass">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 text-center">
        <h1 class="edit-title"> Mettez votre baraque à frites à jour </h1>
        <%= render "form", stall: @stall %>
      </div>
    </div>
  </div>
</div>
