
  .card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border: solid 2px #f2b406;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-decoration: none;

  }

  .card-category:hover {
    font-size: 180%;
    color:#f2b406;
  }

  .card-category > a{
    text-decoration: none;
    color:white;
    &:hover{
      color:#f2b406;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    justify-content: center;
  }

  .card h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;

  }

  .card p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-stall {
  margin-top: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-stall > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-stall h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-stall p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-stall .card-stall-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-stall-infos .card-stall-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.white-background {
  background-color: white;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-left: solid 1px black ;
  max-width: 600px;
  word-wrap: break-word;
}

.white-background p {
  line-height: 17px;
}

  .main-container {
    padding-top:0;
  }

.image-stalls {
  height: 220px;
  object-fit: cover;
}
